* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.content {
    margin: 0 auto;
    max-width: 1220px;
    font-family: 'Montserrat', sans-serif;
}

header{
    background-color: #fff159;
}

nav {
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr;
    grid-template-rows: 1fr 0.5fr;
    row-gap: 14px;
    justify-content: center;
    padding: 8px 20px 0 20px;
    font-size: 0.8rem;
    color: #333;
}

.nav-logo {
    height: 34px;
    top: 15px;
    width: 134px;
    margin: 5px 40px 0 0;
}

.nav-img-mc {
    height: 39px;
}

#search {
    padding: 12px;
    width: 80%;
    border: 0;
    box-shadow: 0 1px 0px 0 rgba(0, 0, 0, .2);
}

#search:focus,#btn-search:focus{
    outline: none;
}

#search::placeholder {
    color: #bfbfbf;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9rem;
}

#btn-search{
    background-color: white;
    margin-left: -5px;
    border: 0;
    padding: 8px 0;
    white-space: nowrap;
    text-decoration: none;
    cursor: pointer;
    box-shadow: 0 1px 0px 0 rgba(0, 0, 0, .2);
}

.fa-search {
    color: #666666;
    padding: 5px 15px;
    font-size: 0.9rem;
    border-left: 1px solid #e6e6e6;
}

.fa-map-marker-alt{
    font-size: 1.3rem;
    float: left;
    margin-right: 5px;
    margin-top: 6px;
}

.nav-cp{
    align-self: center;
    margin-top: -18px;
    width: 135px;
    border: 1px solid transparent;
    padding: 5px;
    text-decoration: none;
    color: #333;
}

.nav-cp:hover{
    border: 1px solid #bfbfbf7a;
    border-radius: 0.25rem;
}

.nav-send{
    color: #686868;
    font-size: 0.7rem;
}

.nav-list{
    display: flex;
    list-style: none;
    padding: 10px 0;
}

.nav-list li:not(:last-child){
    padding-right: 20px;
}

.fa-shopping-cart{
    font-size: 1rem;
}

.category{
    color: rgba(51,51,51,.6);
    position: relative;
}

.nav-link-tag{
    top: 0%;
    transform: translate(-110%);
    position: absolute;
    color: #fff;
    background-color: #3483fa;
    display: inline-block;
    text-transform: uppercase;
    border-radius: 8px;
    font-size: 8px;
    font-weight: bold;
    padding: 0 3px;
}

.user{
    justify-self: end;
}

#inner-results {
    max-width: 70%;

}

.result {
    padding: 15px;
    display: flex;
    border: 1px solid blue;
    margin: 10px 0;
}

.result .thumbnail {
    float: left;
    border: 1px solid black;
}

.result a {
    color: black;
    text-decoration: none;
}

.result a:visited {
    color: black;
}